/************** variables **************/
:root{
    --red: rgb(234, 77, 76);
    --lightgrey: rgb(228, 228, 228);
    --darkgrey: rgb(70, 70, 70);
    --white: rgb(255, 255, 255);
    --shadow: rgb(190, 190, 190);
}

/************** base styles + fonts **************/
body{
    padding: 30px 20px;
}
p, .btn{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: var(--darkgrey);
}
.btn{
    background-color:transparent;
    border-color: transparent;
    font-weight: 300;
    font-size: 1.2em;
}
i{
    color: var(--red);
    padding-right: 10px;
}

/************** mobile styles **************/
#new-game{
    width: 100%;
    text-align: center;
    padding: 5px;
}

#tournament{
    padding: 5px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-sizing: border-box;
}

#first-player-grid, #dice-grid, #second-player-grid{
    grid-column: 1/9;
    text-align: center;
    padding: 5px;
}

.players-name-container{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.players-name{
    font-size: 2.5em;
    font-weight: 100;
    margin-bottom: 0;
}
.players-total-container{
    padding: 5px;
    vertical-align: top;
}
.players-total{
    color: var(--red);
    font-size: 5em;
    font-weight: 300;
    height: 1em;
    line-height: 1em;
    margin-bottom: 30px;
}
.players-current-container{
    background-color: var(--red);
    padding: 5px 0;
    font-size: 1em;
}
.players-current-container p{
    margin-bottom: 0;
}
.players-current{
    color: var(--white);
    font-size: 2.5em;
    font-weight: 300;
}
.dice-container{
    padding: 20px;
}
.dice{
    background-color: var(--white);
    box-shadow: 0px 0px 20px 0px var(--shadow);
    height: 140px;
    width: 140px;
    margin: auto;
    padding: 20px;
    border-radius: 10%;
}

/****** ALL DICE FACES ******/
.dot {
    background-color: var(--red);
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.six-face,
.dice-column{
    display: flex;
    justify-content: space-between;
}
.dice-column {
    flex-direction: column;
}

/****** ANIMATION FOR THE DICE ******/

/****** DOT TO INDICATE CURRENT PLAYER ******/



/************** large tablets & laptop styles **************/
@media screen and (min-width: 960px){

}